<ion-header>
    <ion-toolbar color="medium">
        <ion-buttons slot="primary">
            <ion-button color="light" (click)="toggleTheme();">
                <ion-icon slot="icon-only" name="moon"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>VLSM Calc</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding color="dark" overflow-scroll="true">

    <ion-card>
        <ion-item color="medium">
            <ion-label position="floating">Major Network</ion-label>
            <ion-input type="tel" #majorNetwork [imask]="{ mask: masks.ipAddress.mask, blocks: masks.ipAddress.blocks }"></ion-input>
        </ion-item>
    </ion-card>
    <ion-card>
        <ion-item color="medium">
            <ion-label position="floating">Number of Subnets</ion-label>
            <ion-input type="number" #numSubnet numSubnet.value='' ></ion-input>
            <ion-button color="dark" slot="end" (click)="addSubnets();">List</ion-button>
        </ion-item>
    </ion-card>
    <ion-card *ngIf="showSizes();">
        <ion-card-header color="medium">
            <ion-card-title>Subnets</ion-card-title>
        </ion-card-header>
        <ion-item color="medium" *ngFor="let i of inputs">
            <ion-input placeholder="Name" type="text" [(ngModel)]="i.name"></ion-input>
            <ion-input placeholder="Hosts" type="number" [(ngModel)]="i.size"></ion-input>
        </ion-item>
    </ion-card>
    <ion-card *ngIf="showSubnets();" color="dark">
        <div class="container">
            <div class="scroll" scrollX="true" >
                <span *ngFor="let subnet of results">
                    <ion-card-header color="light">
                        <ion-card-title>Name: {{subnet.Name}}</ion-card-title>
                        <ion-card-subtitle>Hosts: {{subnet.Size}}</ion-card-subtitle>
                    </ion-card-header>
                    <ion-item color="light">
                        <ion-label>Network: {{subnet.Network}}</ion-label>
                    </ion-item>
                    <ion-item color="light">
                        <ion-label>First IP: {{subnet.FirstIP}}</ion-label>
                    </ion-item>
                    <ion-item color="light">
                        <ion-label>Last IP: {{subnet.LastIP}}</ion-label>
                    </ion-item>
                    <ion-item color="light">
                        <ion-label>Broadcast: {{subnet.Broadcast}}</ion-label>
                    </ion-item>
                    <ion-item color="light">
                        <ion-label>Subnet Mask: {{subnet.Mask}}</ion-label>
                    </ion-item>
                </span>
            </div>
        </div>
    </ion-card>
</ion-content>
<ion-footer>
    <ion-toolbar color="dark">
        <ion-button *ngIf="showSizes();" expand="full" shape="round" color="medium" (click)="calc();">Calculate</ion-button>
        <ion-button *ngIf="showSubnets();" expand="full" shape="round" color="medium" (click)="resetCalc();">Reset</ion-button>
    </ion-toolbar>
</ion-footer>